h1 {
  color: #4277f4;
  text-align: center;
}

h2 {
  color: #246052;
}

h3 {
  color: #503024;
  font-family: cursive;
}

body {
  padding: 40px;
  background-color: #7892bc;
}

#hobbies1 {
  padding-left: 100px;
  padding-right: 100px;
}

#hobbies2 {
  padding-left: 100px;
  padding-right: 100px;
}

.button-float {
  float: right;
}

.body-black {
  background-color: black;
  color: white;
}

.body-white {
  background-color: white;
  color: black;
}

.body-default {
  padding: 40px;
  background-color: #7892bc;
}
